<mat-card class="detail-card">
  <mat-card-header>
    <mat-card-title class="card-title">{{ data.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="sku">
      SKU: <span class="sku-code">{{ data.skuCode }}</span>
    </p>
    <p class="quantity">
      Cantidad: <span class="quantity">{{ data.quantity }}</span>
    </p>
    <p class="price">
      Precio: <span class="price">{{ data.price }}</span>
    </p>
    <p class="description">
      Descripción: <span class="description">{{ data.description }}</span>
    </p>
  </mat-card-content>
</mat-card>
