<div class="min-h-screen mat-app-background">
  <mat-toolbar color="primary">
    <span class="text-xl font-bold">Sistema de Gestión de Inventario</span>
    <span class="flex-grow"></span>
    <button mat-raised-button color="accent" class="mr-4">
      <mat-icon class="mr-2">add</mat-icon>
      Agregar Producto
    </button>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container mx-auto mt-8 p-4">
    <mat-card [ngClass]="{'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme}">
      <mat-card-header>
        <mat-card-title class="text-2xl font-bold mb-4">Lista de Productos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="w-full">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>

          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editarProducto(element)" class="mr-2">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminarProducto(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
