@import '@angular/material/prebuilt-themes/indigo-pink.css';

.light-theme {
  @import '@angular/material/prebuilt-themes/indigo-pink.css';
}

.dark-theme {
  @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  background-color: #303030;
  color: #ffffff;
}

.light-theme {
  background-color: #fafafa;
  color: #000000;
}
